<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SES</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg bg-primary">
  <a class="navbar-brand col-md-9 text-white container-fluid" href="#">SES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-md-3 text-white " id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#">Hai Sarath</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">logout</a>
      </li>
    </ul>
  </div>
</nav>
</header>
  <div class="main-content container">
    <form action="" method="post">
      <div class="container bg-light">
        <div class="main-body">
          <div class="row gutters-sm ">
            <div class="col-md-4 mb-3">

                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-3 pt-3" style="width: 150px;" alt="Avatar" />
                    <div class="mt-3">
                      <h5>Sarath Babu</h5>
                    </div>
                  </div>
                </div>

              <div class="card mt-4 mb-3">
                <div class="card-header mb-3">Academic Information</div>
                <ul class="list-group list-group-flush mb-3">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><line x1="2" y1="12" x2="22" y2="12"></line>Course Details</h6>
                    <span class="text-secondary">Course</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Academic Year/Semester</h6>
                    <span class="text-secondary">2013</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Class Schedule and Time Table</h6>
                    <span class="text-secondary">kjkehew</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3 mt-3">
                <div class="card-header mb-3">Grades And Transcripts</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Course Wise Grades</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                      hjhhh
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Cumulative grade point average</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                      7.5
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Transcripts(overall academic history)</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                      dgsfshkd
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <h6 class="card-header mb-3">Financial Information</h6>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-sm-9">
                            <h6 class="mb-0">Tuition and fee payment details</h6>
                          </div>
                        <div class="col-sm-3 text-secondary">
                          pass
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-9">
                          <h6 class="mb-0">Scholarship information</h6>
                        </div>
                        <div class="col-sm-3 text-secondary">
                          kjgjhg
                        </div>
                      </div><hr>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <h6 class="d-flex align-items-center mb-3 card-header">Exam Results</h6>
                    <div class="card-body">
                      <div class="row">
                          <div class="col-sm-9">
                            <h6 class="mb-0">Final Exam Results</h6>
                          </div>
                        <div class="col-sm-3 text-secondary">
                          pass
                        </div>
                      </div>
                       <hr>
                      <div class="row">
                          <div class="col-sm-9">
                            <h6 class="mb-0">Grade distribution or ranking</h6>
                          </div>
                        <div class="col-sm-3 text-secondary">
                          A+
                        </div>
                      </div>
                        <hr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <h6 class="d-flex mb-3 card-header">Advising and Support</h6>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-9">
                      <h6 class="mb-0">Assigned academic advisor details</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      jhgjh
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-9">
                      <h6 class="mb-0">Request appointments or support from advisors</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      hvgjhgjh
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>

            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <h6 class="d-flex mb-3 card-header">Attendance</h6>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-9">
                      <h6 class="mb-0">Attendance record</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                     75%
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-9">
                      <h6 class="mb-0">Absenteeism history</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      10
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

</body>
</html>